{% extends 'base.html.twig' %}

{% block body %}

  {% for record in records %}
    <div class="quote-container">
      <div class="note {{ record.active ? 'active' : 'inactive' }}">
        {{ record.content }}
        <form method="post" action="{{ path('record_toggle_active', {'id': record.id}) }}">
          <input
              type="submit"
              class="btn btn-{{ record.active ? 'primary' : 'default' }} btn-lg pull-right"
              value="{{ record.active ? 'Mark as inactive' : 'Mark as active' }}"
          >
        </form>
      </div>
    </div>
  {% endfor %}


{% endblock %}
