<div class="quote-container">
  <div class="record {{ record.active ? 'active' : 'inactive' }}">
    {{ record.content|markdown }}
    <div class="created-at">
      {{ record.createdAt|date }}
    </div>
    <a href="{{ path('record_update', {'id': record.id}) }}">Edit record</a>
    <form method="post" action="{{ path('record_toggle_active', {'id': record.id}) }}">
      <input
          type="submit"
          class="btn btn-{{ record.active ? 'primary' : 'default' }} btn-lg pull-right"
          value="{{ record.active ? 'Mark as inactive' : 'Mark as active' }}"
      >
    </form>
    <form method="post" action="{{ path('record_delete', {'id': record.id}) }}">
      <a href="#" class="delete-note-button close-thick"></a>
    </form>
  </div>
</div>